body {
  align-items: center;
  justify-content: center;
  background: #343f4f;
}

.live-text h1 {
  font-size: 90px;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  /* line-height: 160px; */
  /* padding-top: 50px; */
  padding-left: 20px;
  margin-left: -10px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url("back.png");
  -webkit-background-clip: text;
  background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}

@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}
